.dart_tool/
.packages
.build/
build/
web/app.js.map
web/app.js.deps
*.log
dart-sdk/
*.apk
waterhall_flutter/build/
waterhall_flutter/.dart_tool/
waterhall_resident_flutter/build/
waterhall_resident_flutter/.dart_tool/
android-app/app/build/
android-app/.gradle/
android-app/local.properties
android-app.bak/
__pycache__/
*.pyc
.idea/
*.iml
.metadata
bin/
windows/
out.js.deps
out.js.map
